<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MailFrom" value="nam.p.nguyen@pmsa.com.vn"/>
    <add key="MailName" value="messageservice"/>
    <add key="MailUser" value="nam.p.nguyen@pmsa.com.vn"/>
    <add key="MailPass" value="Kang@r00"/>
    <add key="MailHost" value="smtp.gmail.com"/>
    <add key="MailPort" value="587"/>
    <add key="MailSsl" value="True"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <globalization uiCulture="en" culture="en-US"/>
    <httpRuntime maxRequestLength="51200" executionTimeout="7200" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="100000000"></requestLimits>
      </requestFiltering>
    </security>
  </system.webServer>
 
</configuration>