<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="FWS.Framework.Report.Server" value="(local)"/>
		<add key="FWS.Framework.Report.Database" value="vtnt_ttdk"/>
		<add key="FWS.Framework.Report.User" value="admin"/>
		<add key="FWS.Framework.Report.Password" value="admin"/>
		<add key="FWS.Framework.Report.FolderName" value="D:\DEVELOP\VTNT\TTDK\Source\FWS.VnAccounting.Service.Report\Reports"/>
		
		<add key="FWS.Framework.Log.LogPath" value="D:\DEVELOP\VTNT\TTDK\Source\FWS.VnAccounting.Service.Report\Logs"/>
		<add key="FWS.Framework.Log.LogByHour" value="1"/>
		<add key="FWS.Framework.Log.IsLog" value="1"/>
		<add key="FWS.Framework.Report.ImageUrl" value="d:\PMSA\Customers\i-Market\iMarket Dev\iMarket 2010\PMSA.iMarkets.Presentation.WebApp\Mods\Report\Service\images\"/>
		
		
		<add key="#ConnectionString" value="Data Source=112.213.89.158;Initial Catalog=vtnt_wh;MultipleActiveResultSets=True;Max Pool Size=500;User ID=vtnt_wh;Password=abc@123;Connection Timeout=900"/>
		<add key="ConnectionString" value="Data Source=(local);Initial Catalog=vtnt_ttdk;MultipleActiveResultSets=True;Max Pool Size=500;User ID=admin;Password=admin;Connection Timeout=900"/>
		<add key="FWS.Service.Report.UseWinservice" value="0"/>
		<add key="FWS.Service.Report.WinServiceServer" value="127.0.0.1:20000"/>
		<add key="FWS.Service.Report.RequestVerifyDatabase" value="1"/>
	</appSettings>
	<connectionStrings/>
	<system.web>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="51200" executionTimeout="1200" />
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
			The <authentication> section enables configuration 
			of the security authentication mode used by 
			ASP.NET to identify an incoming user. 
		-->
		
		<authentication mode="Windows"/>
		<!--
			The <customErrors> section enables configuration 
			of what to do if/when an unhandled error occurs 
			during the execution of a request. Specifically, 
			it enables developers to configure html error pages 
			to be displayed in place of a error stack trace.

			<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
				<error statusCode="403" redirect="NoAccess.htm" />
				<error statusCode="404" redirect="FileNotFound.htm" />
			</customErrors>
		-->		    
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>	
</configuration>
