<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    
	  <add key="FWS.VnAccounting.ClientKey" value="3EDF15C4-B5BE-4E4F-B59C-F5619EFA9994"/>
	  <add key="#FWS.VnAccounting.ClientKey" value="AFC1030C-0938-4D20-A2B9-6D70906FB2EE"/>
    <add key="#FWS.VnAccounting.ClientKey" value="BC248FC6-077D-4C07-A8FE-C751DE220D31"/>
	  <add key="FWS.VnAccounting.Service.Data" value="http://localhost/ttdk.Service.Data"/>
    <add key="#FWS.VnAccounting.Service.Data" value="http://7.44.84.161/vtnt.service.data"/>
    <add key="fws.vnaccounting.service.Name" value="ttdk.Service.Data"/>
    <add key="FWS.VnAccounting.Service.Report" value="http://localhost/VAccounting.Service.Report"/>
	  <add key="FWS.VnAccounting.Config.FromDate_ByMonth" value="-12"/>
	  
  </appSettings>
  <connectionStrings/>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
	  <security>
		  <requestFiltering>
			  <requestLimits maxAllowedContentLength="100000000"></requestLimits>
		  </requestFiltering>
	  </security>
  </system.webServer>
  <system.web>    
    <sessionState timeout="3600" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="512000" executionTimeout="7200" />
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>

    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
